#grass{

    display: flex;
  	align-items: center;
	position: relative;
    background-color: #7ec850;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: -320px;
}

.dirt{
    display: flex;
    justify-content: center;
  	align-items: center;
	position: relative;
    background-color: #70483c;
    height: 590px;
    width: 100%;
    bottom: -319px;

  
        .click{
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
    }
    


