#shapes {
	display: flex;
  	justify-content: left;
  	align-items: center;
	height: 300px;
	position: relative;
	padding-left: 50px;
	padding-top: 100px;

		#circle {
			height: 100px;
			width: 100px;
			background-color: rgb(230, 67, 7);
			border-radius: 100%;
			position: relative;
			bottom: 0px;

		}


		.eyes-l,.eyes-r{
			background-color: black;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			position: relative;
		}

		.eyes-l{
			bottom: -20px;
			left: 20px;
		}

		.eyes-r{
			bottom: 0px;
			left: 60px;
		}

		.mouth{
			background-color: #fff8ff;
			height: 45px;
			width: 80px;
			border-radius: 0 0 90px 90px;
			position: relative;
			bottom: -5px;
			left: 10px;
			

		}


		#square-up{
			height: 30px;
			width: 30px;
			background-color: #000080;
			position: relative;
			bottom: -20px;
			left: 400px;

			p{
				text-align: center;
				color: white;
				font-size: 7px;
				bottom: -6px;
				position: relative;
				font-family:Arial, Helvetica, sans-serif

			}
		}

}
